{% extends "base/base.html" %}
{% block head_title %}ReviewSlayer - ListCategorias{% endblock %}
{% block content %}
    <div id="categoria">
        <h2>Categorias</h2>
            {% for categoria in categorias %}
                <h4>{{ categoria.name }}:</h4>
                <div id="listado-review">
                    {% for review in reviews %}
                        {% if review.cat == categoria %}
                                <ul> <a href ={% url "forum.views.detail_review"  pk=review.pk%}> {{ review.title }}</a> </ul>
                        {% endif %}
                    {% endfor %}
                </div>
        {% empty %}
            <p>No hay categorias disponibles</p>
        {% endfor %}
    </div>
{% endblock %}
