{% extends "base/base.html" %}
{% block head_title %}ReviewSlayer - DetailReviews{% endblock %}
{% block body %}
<h1> Reviews - Detail </h1>
    <h2> {{ review.title}} </h2>
        <p> {{ review.text }} </p>
            {% for comentario in comentarios%}
                <h2> {{ comentario.author }} </h2>
                <p> {{ comentario.text }} </p>
                <p> {{ comentario.date }} </p>
            {% empty %}
                <p> No hay comentarios. Sea el primero en comentar </p>
            {% endfor %}
            {% if user.is_authenticated %}
                <a href = {% url "comment"  pk=pk%}> Comentar </a>
                <a href = {% url "denunciar"  pk=pk%}> Denunciar </a>
            {% else %}
                <li><a href={% url "login" %}>Inicie sesion para comentar</a></li>
            {% endif %}
{% endblock %}
