{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirmar casilla de E-mail" %}{% endblock %}


{% block content %}
<h1>{% trans "Confirmar casilla de E-mail" %}</h1>

{% if confirmation %}

{% user_display confirmation.email_address.user as user_display %}

<p>{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{email}}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}</p>

<form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
{% csrf_token %}
    <button type="submit">{% trans 'Confirmar' %}</button>
</form>

{% else %}

{% url 'account_email' as email_url %}

<p>{% blocktrans %}Este enlace de confirmación por e-mail caducado o no es válido. Por Favor haga click en el siguiente enlace <a href="{{ email_url}}">, para enviar nuevamente la confirmacion de correo</a>.{% endblocktrans %}</p>

{% endif %}

{% endblock %}
