{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirmar correo electronico" %}{% endblock %}


{% block content %}

<h1>{% trans "Confirmar correo electronico" %}</h1>

{% user_display confirmation.email_address.user as user_display %}

<p>{% blocktrans con confirmation.email_address.email as email %} Usted ha confirmado que <a href="mailto:{{email}}">{{ email }}</a> es su direccion de e-mail de la cuenta {{ user_display }}.{% endblocktrans %}</p>

{% endblock %}
