{% extends "base/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}
{% block body %}{% endblock %}
{% block content %}
<h1>{% trans "Sign Out" %}</h1>

<p>{% trans '¿Seguro que deseas cerrar la sesion?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{redirect_field_name}}" value="{{redirect_field_value}}"/>
  {% endif %}
  <button type="submit">{% trans 'Cerrar sesion' %}</button>
</form>


{% endblock %}
