{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load url from future %}

{% block head_title %}{% trans "Reiniciar clave" %}{% endblock %}

{% block content %}

    <h1>{% trans "Reiniciar clave" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "¿Olvido su contraseña? Introduzca su dirección de correo electrónico a continuación y le enviaremos un e-mail que le permite reiniciarla." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{% trans "Reiniciar mi clave" %}" />
    </form>

    <p>{% blocktrans %}Póngase en contacto con nosotros si tiene algún problema para restablecer su contraseña.{% endblocktrans %}</p>
{% endblock %}
