{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}
{% block head_title %}{% trans "Cambiar clave" %}{% endblock %}

{% block content %}
    <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Cambiar clave" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}El enlace de restablecimiento de contraseña no es válido, posiblemente debido a que ya se ha utilizado. Por favor, solicite un nuevo link de reinicio de clave a continuacion: <a href="{{ passwd_reset_url }}">Nuevo reinicio de clave</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action=".">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" name="action" value="{% trans "Cambiar clave" %}"/>
            </form>
        {% else %}
            <p>{% trans 'Su contraseña ha cambiado correctamente.' %}</p>
        {% endif %}
    {% endif %}
{% endblock %}
