{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Verificar su cuenta de E-mail" %}{% endblock %}

{% block content %}
<h1>{% trans "Verificar su cuenta de E-mail" %}</h1>

{% url 'account_email' as email_url %}

<p>{% blocktrans %}Debemos verificar que usted es quien dice ser. Para ello, es necesario que usted verifique la propiedad de su dirección de correo electrónico.{% endblocktrans %}</p>

<p>{% blocktrans %}Para ello, hemos enviado un e-mail a su casilla, para su verificación. Por favor, haga clic en el enlace dentro de este e-mail. Póngase en contacto con nosotros si no recibe el correo en pocos minutos (verificar la casilla de SPAM).{% endblocktrans %}</p>

<p>{% blocktrans %}<strong>NOTA:</strong> Usted todavía puede <a href="{{email_url}}">Cambiar su dirección de correo electrónico</a>.{% endblocktrans %}</p>


{% endblock %}
