<!DOCTYPE html>
<html>
  <head>
    <title>{% block head_title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </head>
  <body>
      <nav class="navbar navbar-default">
          <div class="container-fluid">
                <div class="navbar-header">
                  <a class="navbar-brand">ReviewSlayer</a>
                </div>
                <div>
                    <ul class="nav navbar-nav navbar-right">
                      <a class="navbar-brand" href={% url "home" %}>Home</a>
                      <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                          Menu de navegacion <b class="caret"></b>
                        </a>
                        {% if user.is_authenticated %} Hola, {{ user.username }}
                            <ul class="dropdown-menu">
                              <li><a href={% url "logout" %}>Cerrar sesion</a></li>
                              <li><a href={% url "listing" %}>Listado de reviews</a></li>
                              <li><a href={% url "create" %}>crear reviews</a></li>
                            </ul>
                        {% else %}
                            <ul class="dropdown-menu">
                              <li><a href={% url "login" %}>Iniciar sesion</a></li>
                              <li><a href={% url "listing" %}>Listado de reviews</a></li>
                            </ul>
                        {% endif %}
                      </li>
                    </ul>
                </div>
          </div>
        </nav>
    {% block body %}{% endblock %}
    {% block content %}{% endblock %}
  </body>
</html>
